p{
    background-color: #62edbd;
    width: 600px;
    margin: auto;
    margin-bottom: 10px;
    height: 100px;
    text-align: center;
    font-size: 22pt;
    padding-top: 60px;
}
a{
    text-decoration: none;
    color: darkorchid;
}
div{
    margin-top: 100px;
}
p:hover{
    background-color: aquamarine;
}

